<div class="full-width-bg component homepage-highlights-band">

    <div class="width-12-12 highlights-alternating-inline-block">
       
        <div class="width-12-12">
            <h2>In 2025 more than 30% of data will be real time data !</h2>
        </div>
        
        <div class="width-12-12 block-content">
            <p>The revolution of connected object paves the demand for efficient stream processing technologies.
                Logisland is one of them: it reliently capture, analyse and compress huge volumes of very tiny to very 
                large data.
                Logisland is not an ETL, this is much beyond: it Captures, Compresses, Analyses, Loads. This is an extendable
                framework that already integrates the best of the best of stream analytics and storage through pluggins.
        </div>
       
    </div>

    <div class="width-12-12 highlights-alternating-inline-block">
               
        <div class="width-12-12">
            <h2>Your one stop shop framework for all streaming jobs</h2>
        </div>
  

        <div class="width-12-12 block-content">
            <p>Real-time distributed stream processing is one area where many different approaches to data storage, 
               management, and analysis coexist or conflict. Depending on your use case, you may wish to keep track of 
                event sequences with Kafka or you will have a vital need for the speed but ephemeral processing of events  
                with MQTT. 
                You may need temporal windowed analysis with Spark Streaming to provide context for your decisions or want a 
                reptilian reaction to events with Kafka streams, Flink or pure Java. Logisland is the only technology that 
                offers a unified approach to stream analytics with simple changes in the configuration of message buses 
                and distributed engines. A guarantee of independence and stability in a fast changing technological 
                world.
            </p>
        </div>
    </div>
      

   <div class="width-12-12 highlights-alternating-inline-block">

        <div class="width-12-12">
            <h2>Pluggins for major stream analysis use cases</h2>
        </div>
  
        <div class="width-12-12 block-content">
            <p>Everybody loves Google for providing <a>Web Analytics</a> for your Web sites. With Logisland though, in parallel, you can
                route the same click streams to your own analytics. A bunch of pluggins and tools will give you access to your streams
                and you will be able to link them to your back office for better recommandations, ads or simply a greater 
                understanding of your business and customers (vision 360 degree).
            </p>
        </div>
       
        <div class="width-12-12 block-content">
            <p>IoT events are the fastest growing data sets. Many companies find incredible use cases using sensors and actuators.
                This data of course must be captured, stored, analysed. Logisland provides tools for advanced IoT data compaction 
                for storage in the major time series databases, including the one proposed by Hurence, based on SolR. Pluggins
                for smart alerting, prediction and trends spotting are also available.
            </p>
        </div>
       
       
    </div>       
      

    <div class="width-12-12 highlights-alternating-inline-block">

        <div class="width-12-12">
            <h2>High Performance by Design</h2>
        </div>
  
        <div class="width-12-12 block-content">
            <p>Logisland is made of high performance core layers, think Spark on Kafka.
              Everything is done to simplify stream application operation at scale <a href="/docs/vision/architecture">Learn more</a>.</p>
        </div>
    </div>

  <div class="width-12-12 highlights-alternating-inline-block">
    
    <div class="grid-wrapper">
      <div class="width-12-12">
        <h2>Configuration First</h2>
      </div>
      <div class="width-7-12 width-12-12-m block-content">
        <p>Logisland helps you to boostrap your application quickly.
        No code required for the most part of streaming operations <a href="/docs/vision/configuration-first">Learn more</a>.</p>
      </div>
      <div class="width-5-12 width-12-12-m block-content">
        <pre class="highlight"><code class="yaml">engine:
  component: KafkaEngine
  configuration:
    spark.app.name: GettingStarted
    spark.master: local[2]
    </code>
    </pre>
      </div>
    </div>
  </div>



  <div class="width-12-12 highlights-alternating-inline-block">

      <div class="width-12-12">
          <h2>Datastore abstraction</h2>
      </div>

      <div class="width-12-12 block-content">
          <p>Switch from any NoSQL backend easily. 
              (You can go to elasticsearch, SolR, Mongo, Redis) <a href="/docs/vision/datastores">Learn more</a>.</p>
      </div>
  </div>

  <div class="width-12-12 highlights-alternating-inline-block">
    <div class="grid-wrapper">
      <div class="width-7-12 width-12-12-m block-content">
        <h2>Unifies distributed platforms deployment</h2>
        <p>Combine Mesos, Yarn, Kubernetes scheduling
        <a href="/docs/vision/platforms">Learn more</a>.</p>
      </div>

    </div>
  </div>



  <div class="width-12-12 highlights-alternating-inline-block">
    <div class="grid-wrapper">
      <div class="width-7-12 width-12-12-m block-content">
        <h2>Highly extensible</h2>
        <p>Component driven framework, you can integrate whatever legacy code or new processors 
        <a href="/docs/vision/extensibility">Learn more</a>.</p>
      </div>
      <div class="width-5-12 width-12-12-m block-image">
 
      </div>
    </div>
  </div>


  <div class="grid-wrapper">
    <div class="grid__item width-8-12 width-12-12-m">
      <h2>Best of Breed Libraries and Standards</h2>
      <p>Logisland brings a cohesive, fun to use full-stack framework by leveraging best of breed libraries you love and use wired 
      on a standard backbone. <a href="/docs/vision/standards">Learn more</a>.</p>
    </div>
  </div>
  <div class="grid-wrapper libraries-standards-band">

    <div class="grid__item width-2-12 width-6-12-m block">
      <a href="http://kafka.apache.org/" target="_blank">
        <img src="{{site.baseurl}}/assets/images/logoset_apache_kafka.png">
        <span>Apache Kafka</span>
      </a>
    </div>

    <div class="grid__item width-2-12 width-6-12-m block">
      <a href="http://spark.apache.org" target="_blank">
        <img src="{{site.baseurl}}/assets/images/logoset_spark.png">
        <span>Apache Spark.</span>
      </a>
    </div>

    <div class="grid__item width-2-12 width-6-12-m block">
      <a href="https://kubernetes.io/" target="_blank">
        <img src="{{site.baseurl}}/assets/images/logoset_kubernetes.png">
        <span>Kubernetes</span>
      </a>
    </div>


    <div class="grid__item width-2-12 width-6-12-m block">
      <a href="https://prometheus.io/" target="_blank">
        <img src="{{site.baseurl}}/assets/images/logoset_prometheus.png">
        <span>Prometheus</span>
      </a>
    </div>

    <div class="grid__item width-2-12 width-6-12-m block">
      <a href="https://www.openfaas.com/" target="_blank">
        <img src="{{site.baseurl}}/assets/images/logoset_openfaas.png">
        <span>OpenFAAS</span>
      </a>
    </div>

    <div class="grid__item width-2-12 width-6-12-m block">
      <a href="https://www.jaegertracing.io/" target="_blank">
        <img src="{{site.baseurl}}/assets/images/logoset_jaeger.png">
        <span>Jaeger tracing</span>
      </a>
    </div>
    
    


  </div>

</div>
