<div class="grid-wrapper homepage-hero-band">
  <div class="grid__item width-12-12">
    <div class="home-hero">
      <img src="{{site.baseurl}}/assets/images/logisland-logo.png" class="project-logo" title="Logisland">
      <h2>Stream analytics at scale</h2>
      <p>An advanced real-time data processing framework, crafted from the best of breed big data stream processing tools.</p>
      <a href="{{site.baseurl}}/get-started/" class="button-cta secondary">Get Started</a>
      <a href="#" class="scroll-down" address="true"></a>
    </div>
  </div>
</div>
